* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #f1f1f1;
}

label {
  font-size: 24px;
}

i {
  font-size: 24px;
}

button {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

.search-box {
  margin: 4rem auto;
  position: relative;
  width: fit-content;
}

input {
  padding: 8px 24px;
}

.today-box {
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-icon {
  width: 100px;
  height: 100px;
}

.inner-today-box {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.info-today-box {
  width: calc(100% - 600px);
}

.weather-info {
  padding: 24px;
  display: grid;
  margin: 0 auto;
}
