* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #f1f1f1;
}

label {
  font-size: 24px;
}

i {
  font-size: 24px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

.CorF {
  padding: 8px 24px;
  border: 2px solid #ffa800;
  cursor: pointer;
  transition: all 0.5s;
}

.CorF:hover {
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 2px 2px 1px 2px black;
}

.CorF:active {
  transform: translateX(0) translateY(0);
}

.bold {
  font-weight: bold;
}

.search-box {
  margin: 4rem auto;
  position: relative;
  width: fit-content;
}

input {
  padding: 8px 24px;
  border: 2px solid black;
}

.today-box {
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-icon {
  width: 100px;
  height: 100px;
}

.inner-today-box {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.info-today-box {
  width: calc(100% - 600px);
}

.weekly-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 24px;
  justify-items: center;
}

.inner-weekly-card {
  border: 2px solid black;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
  row-gap: 12px;
}

.weather-info {
  padding: 24px;
  margin: 0 auto;
}
